{% extends "portfolio/base.html" %}

{% block title %}Clients - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}

  {% if page_obj.paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}<link rel="prev" href="{% if page_obj.previous_page_number == 1 %}{% url "portfolio:client_list" %}{% else %}{% url "portfolio:paginated_client_list" page=page_obj.previous_page_number %}{% endif %}" />{% endif %}
    {% if page_obj.has_next %}<link rel="next" href="{% url "portfolio:paginated_client_list" page=page_obj.next_page_number %}" />{% endif %}
  {% endif %}

{% endblock %}

{% block content %}

  <h1>Clients</h1>

  {% for client in client_list %}
    {% if forloop.first %}<ul>{% endif %}
    <li>
      <a href="{{ client.get_absolute_url }}">
        {% if client.logo %}<img src="{{ client.logo.url }}" alt="{{ client }}" />{% endif %}
        {{ client }}
        {{ client.summary }}
      </a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% empty %}
    <p>No clients to display.</p>
  {% endfor %}

  {% if page_obj.paginator.num_pages > 1 %}
  <div>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    {% if page_obj.has_previous %}<a href="{% if page_obj.previous_page_number == 1 %}{% url "portfolio:client_list" %}{% else %}{% url "portfolio:paginated_client_list" page=page_obj.previous_page_number %}{% endif %}" rel="previous">previous</a>{% endif %}
    {% if page_obj.has_next %}<a href="{% url "portfolio:paginated_client_list" page_obj.next_page_number %}" rel="next">next</a>{% endif %}
  </div>
  {% endif %}

{% endblock %}
