{% extends "portfolio/base.html" %}

{% block title %}{{ client.title }} - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if not client.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% if client.meta_description %}<meta name="description" content="{{ client.meta_description }}" />{% endif %}
{% endblock %}

{% block content %}

  <h1>{{ client.heading }}</h1>

  {% if client.featured_content %}<div>{{ client.featured_content }}</div>{% endif %}
  {% if client.content %}<div>{{ client.content|safe }}</div>{% endif %}

  <h2>Projects</h2>
  {% for project in client.projects.current_site.active %}
    {% if forloop.first %}<ul>{% endif %}
    <li>
      <a href="{{ project.get_absolute_url }}">
        {% if project.media.get_image %}<img src="{{ project.media.get_image }}" alt="{{ project }}" />{% endif %}
        {{ project }}
        {{ project.summary }}
      </a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% empty %}
    <p>No projects to display.</p>
  {% endfor %}

{% endblock %}
