{% extends "portfolio/base.html" %}

{% block title %}{% if client %}{{ client }} - {% endif %}Projects - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}

  {% if client %}
    {% if not client.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% else %}
    <link rel="alternate" href="{% url "portfolio:project_feed" %}" type="application/atom+xml" title="Latest Projects" />
  {% endif %}

  {% if page_obj.paginator.num_pages > 1 %}{% spaceless %}
    {% if page_obj.has_previous %}
      {% if client %}
        <link rel="prev" href="{% if page_obj.previous_page_number == 1 %}{% url "portfolio:client_project_list" client_slug=client.slug %}{% else %}{% url "portfolio:paginated_client_project_list" client_slug=client.slug page=page_obj.previous_page_number %}{% endif %}" />
      {% else %}
        <link rel="prev" href="{% if page_obj.previous_page_number == 1 %}{% url "portfolio:project_list" %}{% else %}{% url "portfolio:paginated_project_list" page=page_obj.previous_page_number %}{% endif %}" />
      {% endif %}
    {% endif %}
    {% if page_obj.has_next %}
      {% if client %}
        <link rel="next" href="{% url "portfolio:paginated_client_project_list" client_slug=client.slug page=page_obj.next_page_number %}" />
      {% else %}
        <link rel="next" href="{% url "portfolio:paginated_project_list" page=page_obj.next_page_number %}" />
      {% endif %}
    {% endif %}
  {% endspaceless %}{% endif %}
{% endblock %}

{% block content %}

  <h1>{% if client %}{{ client }} {% endif %}Projects</h1>

  {% for project in project_list %}
    {% if forloop.first %}<ul>{% endif %}
    <li>
      <a href="{{ project.get_absolute_url }}">
        {% if project.media.get_image %}<img src="{{ project.media.get_image }}" alt="{{ project }}" />{% endif %}
        {{ project }}
        {{ project.summary }}
      </a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% empty %}
    <p>No projects to display.</p>
  {% endfor %}

  {% if page_obj.paginator.num_pages > 1 %}
  <div>
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

    {% if page_obj.has_previous %}
      {% if client %}
        <a href="{% if page_obj.previous_page_number == 1 %}{% url "portfolio:client_project_list" client_slug=client.slug %}{% else %}{% url "portfolio:paginated_client_project_list" client_slug=client.slug page=page_obj.previous_page_number %}{% endif %}" rel="previous">previous</a>
      {% else %}
        <a href="{% if page_obj.previous_page_number == 1 %}{% url "portfolio:project_list" %}{% else %}{% url "portfolio:paginated_project_list" page=page_obj.previous_page_number %}{% endif %}" rel="previous">previous</a>
      {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
      {% if client %}
        <a href="{% url "portfolio:paginated_client_project_list" client_slug=client.slug page=page_obj.next_page_number %}" rel="next">next</a>
      {% else %}
        <a href="{% url "portfolio:paginated_project_list" page=page_obj.next_page_number %}" rel="next">next</a>
      {% endif %}
    {% endif %}

  </div>
  {% endif %}

{% endblock %}
