{% extends "portfolio/base.html" %}
{% load thumbnail %}

{% block title %}{{ project.title }} - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if not project.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% if project.meta_description %}<meta name="description" content="{{ project.meta_description }}" />{% endif %}
{% endblock %}

{% block content %}

  <h1>{{ project.heading }}</h1>

  {% if project.featured_content %}<div>{{ project.featured_content }}</div>{% endif %}
  {% if project.content %}<div>{{ project.content|safe }}</div>{% endif %}

  {% spaceless %}{% for image in project.media.images %}
    {% if forloop.first %}<h2>Images</h2><ul>{% endif %}
    {% thumbnail image.get_image "200x200" as thumb %}
    <li><a href="{{ image.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ image }}" /></a></li>
    {% endthumbnail %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}{% endspaceless %}

  {% spaceless %}{% for document in project.media.documents %}
    {% if forloop.first %}<h2>Documents</h2><ul>{% endif %}
    {% thumbnail document.get_image "200x200" as thumb %}
    <li><a href="{{ document.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ document }}" /></a></li>
    {% endthumbnail %}
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}{% endspaceless %}

{% endblock %}
